*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  clear: both;
  content: '';
  display: block;
}


body{
  border-top: 40px solid #c4c4c4;
}

/* Container 1 */

.C1-Center{
  margin: 25px auto;
  width: 350px;
  height: 40px;
  padding: 10px;
  background-color: #c4c4c4;
}

.C1-Data{

  width: 49.8%;
  height: 400px;
  background-color: #c4c4c4;
}

.C1-Left{
  float: left;
}

.C1-Right{
  float: right;
}

/* Container 2 */

.C2-Center{
  margin: auto;
  margin-top: 25px;
  width: 700px;
  height: 50px;
  padding: 10px;
  background-color: #c4c4c4;
}

.data{
  height: 280px;
  width: 280px;
  margin: 10px;
  margin-bottom: 0px;
  background-color: #c4c4c4;
  float: left;
}
.C2-row1{
  margin: 15px auto;
  width: fit-content;
  clear: both;
}
.C2-row2{
  margin: 10px auto;
  width: fit-content;
  clear: both;
}

.C2-last-row{
  margin: 25px auto;
  width: 850px;
  height: 50px;
  padding: 10px;
  background-color: #c4c4c4;
}

/* Container 3 */

.Container3{
  background-color: #c4c4c4;
  justify-content: space-evenly;
  padding: 50px;
}

.card{
  background-color: #fff;
  float: left;
  width: calc((100% - 120px) / 3);
  margin: 20px;
}

.card-heading{
  background-color: #c4c4c4;
  margin: 30px auto;
  width: 280px;
  height: 50px;
}

.card-Data{
  margin: 30px auto;
  width: 280px;
  height: 300px;
  background-color: #c4c4c4;
}

/* Container 4 */

.Conatiner4{  
  margin: 10px auto;
}

.C4-Center{
  margin: 50px auto;
  background-color: #c4c4c4;
  width: 450px;
  height: 70px;
}
.C4-Data{
  margin: 10px auto;
  width: 800px;
  height: 80px;
  background-color:#c4c4c4;
}
.C4-LargeData{
  margin: 10px auto;
  width: 800px;
  height: 300px;
  background-color: #c4c4c4;
}
.Button-Collection{
  margin: auto;
  width: 800px ;
}
.Button{
  margin: 20px 0;
  height: 80px;
  width: 390px;
  background-color: #c4c4c4;
}
.C4-Left{
  float: left;
  margin-left:0 ;
}
.C4-Right{
  float: right;
  margin-right:0 ;
}

/* Container 5 */

.Container5{
  background-color: #c4c4c4;
  margin-top: 50PX;
}

.C5-Button{
  height: 150px;
  width: calc((100% - 55px) / 2);
  margin: 20px;
  background-color: #fbfbfb;
}

.C5-Left{
  float: left;
  margin-right: 5px;
}

.C5-Right{
  float: right;
  margin-left: 5px;
}
